{% extends "base.html.twig" %}
{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h2>Sort by:</h2>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/name/ask/">Name asc</a>
                        <a class="dropdown-item" href="/name/desc/">Name desc</a>
                        <a class="dropdown-item" href="/email/ask/">Email asc</a>
                        <a class="dropdown-item" href="/email/desc/">Email desc</a>
                        <a class="dropdown-item" href="/status/desc/">Done first</a>
                        <a class="dropdown-item" href="/status/asc/">Undone first</a>
                        <a class="dropdown-item" href="/created/ask/">Old first</a>
                        <a class="dropdown-item" href="/created/desc/">New first</a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                {% if list %}
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            List Tasks
                        </div>
                        <div class="card-body">
                            {% for task in list %}
                                {% if task.status %}
                                    <span class="badge badge-success">Work is done</span>
                                {% else %}
                                    <span class="badge badge-secondary">In progress</span>
                                {% endif %}
                                <small class="text-muted">User: {{ task.name }} ({{ task.email }}).
                                    Created on {{ task.created.format('d/m/Y H:i') }}</small>
                                <p>{{ task.text }}</p>
                                {% if user.isAuthorized() %}
                                    <a class="btn btn-primary" href="/edit/{{ task.id }}/" role="button">Edit task</a>
                                {% endif %}
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <!-- /.card -->
                {% include "pager.html.twig" %}
            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->
{% endblock %}
